#x { width: 20px; height: 20px; float: right; margin-right:5px;}
.up { margin: 25px 0px 25px 0px;}
.up:hover {
   background-color: aliceblue;
}
.imgslick{ width:340px; height:500px;}
#contop{padding-top:75px;}
.img-circle{ width:200px; height:200px;}
.mycircle {
	border-radius: 50%;
	width: 200px;
	height: 200px; 
	background-color: red;
	z-index: -1;
	font-size:20px;
	color:#fff;
	line-height:200px;
	text-align:center;
}

