#loadingedit {position: fixed; left:49%; top:4%;}

.navbar { background-color: #1ABC9C; }

.navbar-inverse .navbar-nav > li > a, .menuButton { color:#fff; font-weight: bold; }

.navbar-inverse .navbar-nav > li > a:hover{

	background-color:#00E1AD;
}

.menuButton:hover {

	color: #efefef;
}

.jumbotron { background-image: url("../img/mat.png"); background-size: cover;}

.jumbotron p, .jumbotron h1 { color:#fff; font-weight: bold;}

.confirm-delete { margin-left: 10px; }

#x { width: 20px; height: 20px; float: right; margin-right:5px;}

.up { margin: 25px 0px 25px 0px;}

.up:hover {

   background-color: #E0FFDF;
}

.imgslick { width:340px; height:500px; }

#contop { padding-top:75px; }

.img-circle { width:200px; height:200px; }

.mycircle {
	border-radius: 50%;
	width: 200px;
	height: 200px; 
	background-color: red;
	z-index: -1;
	font-size:20px;
	color:#fff;
	line-height:200px;
	text-align:center;
	float: none;
    margin: 0 auto;
}

.img-circle{margin-left:30px;}

@media (max-width: 990px){
.mycircle {
	width: 150px;
	height: 150px; 
	font-size:15px;
	line-height:150px;
}

.img-circle{ width:150px; height:150px; margin-left:0px;}
.imgslick{ width:300px; height:350px;}
}

@media (max-width: 590px){
.mycircle {
	width: 100px;
	height: 100px; 
	font-size:10px;
	line-height:100px;
}

.img-circle{ width:100px; height:100px; margin-left:0px;}
.imgslick{ width:150px; height:200px;}
}

@media (max-width: 400px){
.mycircle {
	width: 70px;
	height: 70px; 
	font-size:7px;
	line-height:70px;
}

.img-circle{ width:70px; height:70px; margin-left:0px;}
.imgslick{ width:100px; height:150px;}
}
